body {
	align: left;
	margin-top:5px;
	background-color: white;
	text-align:left;
	font-family: verdana;
	color: gray;
}

#photoTable{
	width:60%; 
	height: 60%;
    margin-right:5%;
	margin-bottom:5%;
	text-align:left;
	visibility:hidden;
}

.cellDesign {
	align: left;
	display: inline-block;
	width: 200px;
	height: 200px;
	overflow: hidden;
	text-align: left;
	border: 15px solid black;
}

.clickme{
	cursor: pointer;
}


